/*footer*/
#footer {
    .social-box {
        color: $gray-blue;
        width: 1.5em;
        height: 1.5em;
        display: inline-block;
        margin: 5%;
        margin-right: 2%;
        padding: 4%;

        a {
            text-decoration: none;
        }
    }

    .rights {
        padding: 3%;
        font-family: 'Questrial', sans-serif;
    }
}