/*footer*/
#footer {
    .social-box {
        width: 2.5em;
        height: 2.5em;
        display: inline-block;
        margin: 5%;
        padding: 4%;

        a {
            text-decoration: none;
        }
    }

    .rights {
        padding: 3%;
    }
}