section #about #proyectos #blog #contacto {
	margin-bottom: 10%;
}

.bckg-trama {
		background: url(../../images/bg_subt-01.jpg) no-repeat;
		background-size:contain;
		margin-bottom: 10%;
		margin-top: 10%;
	.tittle{
			padding: 3% 0%;
			margin-right: 13%;
			font-size: 3em;
			margin: 6%;
	}
}

#about {
	img {
		margin-bottom: 20%;
	}
	.text-box {
		width: 150%;
    	padding: 2% 70% 2% 4%;
    	margin-top: 30%;
    	background: rgba(0, 0, 0, 0.1);
    	text-align: left;
		h2 {
		font-size: 2.3em;
		margin-bottom: 6%;
    	}
    	p{
    	text-align: justify;
    	}
	}
	.box-dos {
		width: 130%;
		text-align: right;
    	padding: 2% 5% 2% 40%;
    	margin-top: 18%;
	}
	.bck {
		z-index: -1000;
	}
	.equipo {
		margin-top: 5%;
		.subtitle-uno {
			p {
			font-size: 3.5em;
			color: #777;
			font-family: 'Fjalla One', sans-serif;
			margin-bottom: 0px;
			}
			
		}
		.box-equipo {
			background: red;
			.content {
				display: inline;
			}	
		}
	}

}

#contacto
	.bckg-contact{
		background: url(../../images/contacto-01.jpg);
		background-size:cover;
}