section #about #proyectos #blog #contacto {
	margin-bottom: 10%;
}

.bckg-trama {
		background: url(../../images/bg_subt-01.jpg) no-repeat;
	.tittle{
			padding: 3% 0%;
			margin-right: 13%;
			font-size: 3em;
			margin-bottom: 12%;
	}
}

#about {
	h2 {
		font-size: 1.5em;
		text-align: center;
    }
    p{
    	text-align: justify;

    }
	img {
		width: 100%;
    }
    
}
