#about{
	margin-bottom:10%;
	h1{
		background: url("../../images/bg_subt-01.jpg") no-repeat;
		padding: 4% 2%;
		font-size: 4em;
		margin-bottom: 12%;

	}
	h2{
		font-size: 2.50em;
	}
	img{
		width: 100%;
	}
}
#proyectos{
	
	margin-bottom:10%;
	h1{
		background: url("../../images/bg_subt-01.jpg") no-repeat;
	    padding: 4% 2%;
		font-size: 4em;
		margin-bottom: 12%;
	}
}
#blog{
	margin-bottom:10%;
	h1{
		background: url("../../images/bg_subt-01.jpg") no-repeat;
		padding: 4% 2%;
		font-size: 4em;
		margin-bottom: 12%;
	}
}
#contacto{
	margin-bottom:10%;
	h1{
		background: url("../../images/bg_subt-01.jpg") no-repeat;
		padding: 4% 2%;
		font-size: 4em;
		margin-bottom: 12%;
	}
}