footer#footer
	.container.text-center
		.col-md-3
			.social-box
				a(href="https://facebook.com")
					i.fa.fa-facebook.fa-3x
			.social-box
				a(href="https://facebook.com")
					i.fa.fa-twitter.fa-3x
			.social-box
				a(href="https://facebook.com")
					i.fa.fa-google-plus.fa-3x
			.social-box
				a(href="https://facebook.com")
					i.fa.fa-pinterest.fa-3x
		.col-md-6.mt-35
			span.rights All rights reserved
		.col-md-3
			img(src="images/logonav-01.jpg")