footer#footer
	.container-fluid
		.row
			.col-md-3.pull-left
				.social-box
					a(href="https://facebook.com")
						i.fa.fa-facebook.fa-3x
				.social-box
					a(href="https://facebook.com")
						i.fa.fa-twitter.fa-3x
				.social-box
					a(href="https://facebook.com")
						i.fa.fa-google-plus.fa-3x
				.social-box
					a(href="https://facebook.com")
						i.fa.fa-pinterest.fa-3x
			.col-md-6.mt-35.text-center
				span.rights All rights reserved
			.col-md-3
				img(src="images/logonav-01.jpg").pull-right