footer#footer
	.container.text-center
		.col-md-3
			.social-box.pull-right
				a(href="https://facebook.com")
					i.fa.fa-facebook.fa-2x
			.social-box.pull-right
				a(href="https://facebook.com")
					i.fa.fa-twitter.fa-2x
			.social-box.pull-right
				a(href="https://facebook.com")
					i.fa.fa-google-plus.fa-2x
			.social-box.pull-right
				a(href="https://facebook.com")
					i.fa.fa-pinterest.fa-2x
		.col-md-6
			span All rights reserved
		.col-md-3
			img(src="images/logonav-01.jpg")