header#home

	// section.home
	//   .tira.about-bckg.pull-left
	//     .button.pd-header 
	//       +secciones-home("name1")
	//   .tira.proyectos-bckg.pull-left
	//     .button.pd-header 
	//       +secciones-home("name2")
	//   .tira.blog-bckg.pull-left
	//     .button.pd-header 
	//       +secciones-home("name3")
	//   .tira.contacto-bckg.pull-left
	//     .button.pd-header 
	//       +secciones-home("name4")
	//   .tira.logo-bckg.pull-left
	//     .logo
	//       +secciones-home("name5")


	section.carousel
	#myCarousel.carousel.slide(data-ride='carousel')
		.carousel-inner(role='listbox')
			.item.active
				img(src='images/slider/02.jpg', alt='Chania')
			.item
				img(src='images/slider/02.jpg', alt='Chania')
			.item
				img(src='images/slider/02.jpg', alt='Flower')
				
		// Left and right controls
		a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
		a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')