include variables
include mixin
doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Doble R Estudios
		link(href="assets/css/bootstrap.min.css" rel="stylesheet")
		link(rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css")
		link(href="assets/css/main.css" rel="stylesheet")
	body
		include header
		include sections
		include footer
	scrip(src="https://code.jquery.com/jquery-1.10.2.min.js")
	script(type="text/javascript" src="assets/js/bootstrap.min.js")