mixin secciones-home(name)
	case name
		when "name1"
			a About
		when "name2"
			a Proyectos
		when "name3"
			a Blog
		when "name4"
			a Contacto
		when "name5"
			a
				img(src="images/logonav-01.jpg")

mixin menu
	ul
		li
			a(href='#about') Nosotros
		li
			a(href='#proyectos') Proyectos
		li
			a(href='#blog') Blog
		li
			a(href='#contacto') Contacto

mixin section-title(titulo)
	.col-md-10
		h1.tittle=titulo

mixin input(pholder)
	.form-group
		input.input.form-control(
			placeholder= pholder
			required
		)
mixin textarea()
	.form-group
		textarea.form-control(
			placeholder="Your message"
			rows=6
			required
		)