mixin secciones-home(name)
		case name
				when "name1"
						a About
				when "name2"
						a Proyectos
				when "name3"
						a Blog
				when "name4"
						a Contacto
				when "name5"
						a
							img(src="images/logonav-01.jpg")

mixin menu
	li
		a(href='index.html#about') Nosotros
	li
		a(href='index.html#proyectos') Proyectos
	li
		a(href='index.html#blog') Blog
	li
		a(href='index.html#contacto') Contacto

mixin section-title(titulo)
		.col-md-10.bckg-trama
				h1.tittle.pull-right=titulo

mixin input(pholder)
		.form-group
				input.input.form-control(
						placeholder= pholder
						required
				)
mixin textarea()
		.form-group
				textarea.form-control(
						placeholder="Your message"
						rows=6
						required
				)