mixin secciones-home(name)
	case name
		when "name1"
			a About
		when "name2"
			a Proyectos
		when "name3"
			a Blog
		when "name4"
			a Contacto
		when "name5"
			a
				img(src="images/logonav-01.jpg")
