section#about.container-fluid
	.row
		+section-title(Nosotros)
section#proyectos.container-fluid
	.row
		+section-title(Proyectos)
section#blog.container-fluid
	.row
		+section-title(Blog)
section#contacto.container-fluid
	.row
		+section-title(Contacto)