section#about.container-fluid
	.row
		+section-title("Nosotros")
	.row
		.col-md-offset-1.col-md-4
			h2 Nosoros
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius optio, in mollitia illo earum quibusdam hic, totam sequi. Vitae ut officiis repudiandae facere quaerat modi blanditiis, veritatis fuga dolore sapiente?
		.col-md-6
			img(src="images/nosotros_1.jpg")
	.row
		.col-md-offset-1.col-md-6
			img(src="images/nosotros_2.jpg")
		.col-md-4
			h2 Nosotros
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis beatae voluptate quos, unde tempore aliquid sit veritatis accusantium. Sint, sapiente quod voluptatum iste nisi necessitatibus voluptatem aspernatur laboriosam hic sit.
section#proyectos.container-fluid
	.row
		+section-title("Proyectos")
section#blog.container-fluid
	.row
		+section-title("Blog")
section#contacto.container-fluid
	.row
		+section-title("Contacto")