section#about.container-fluid
	.row
		+section-title("Nosotros")
	.container.nosotros
		.row
			.col-md-offset-1.col-md-4
				.bkg-box
					.text-box
						.about
							h2 Creemos que todo es posible
						.about-description
						p
							| En
							bold  Doble R estudios
							|  queremos demostrar que se puede estar a la vanguardia en la arquitectura con una ingeniería sostenible que la respalde.
			.col-md-6.bck
				img(src="images/nosotros_1.jpg").resize
		.row
			.col-md-offset-1.col-md-5.bck
				img(src="images/nosotros_2.jpg").resize
			.col-md-4
				.bkg-box
					.text-box.box-dos
						.about
							h2 Somos un estudio diferente
						.about-description
							p  Buscamos encontrar una armonía entre el proceso de diseño conceptual, su  cuenta variable como el asoleamiento, el clima, tecnología contractiva, materialidad, mecánica de  suelos, sismos, abastecimiento de servicios básicos, sustentabilidad y contextos urbanos.
	.container.equipo
		.subtitle-uno.line 
			p EL EQUIPO
			.guion
		.row
			.col-md-offset-2.col-md-4
				.box-equipo
					.subtitle.text-center
						h3 ARQUITECTURA
					.content
						blockquote  
							p "La arquitectura es generar superficies para el desarrollo de actividades humanas."
							small Ricardo S. Villanueva, Arquitecto fundador.
			.col-md-4
				img(src="images/arquitectura-01.jpg")
		.row
			.col-md-offset-2.col-md-4
				img(src="images/ingenieria-01.jpg")
			.col-md-4
				.box-equipo
					.subtitle.text-center
						h3 INGENIERIA
					.content
						blockquote 
							p "Son habilidades con las que se obtienen soluciones sustentadas bajo un calculo demostrativo."
							small Ricardo E. Esli, Ingeniero fundador.
section#proyectos.container-fluid
	.row
		+section-title("Proyectos")
	.container
		.row
			.col-md-offset-2.col-md-4.text-right
				.sub_section
					h2 COMERCIO
				.description
					p  Buscamos la perfeccion en el diseño y lo hacemos de la mano con una estructura resistente y funcional.
				button.btn 
					a(href="comercio.html") ver más...
			.col-md-offset-1.col-md-3
				img(src="images/comercio-01.jpg")
		.row
			.col-md-offset-2.col-md-3
				img(src="images/residencial-01.jpg")
			.col-md-offset-1.col-md-4.text-left
				.sub_section
					h2 RESIDENCIAL
				.description
					p  Diseño de espacios habitables teniendo en cuenta variables como el clima, asoleamiento, ahorro energético, sismos, sistemas sistemas constructivos, materialidad, espacialidad. 
				button.btn 
					a(href="residencial.html") ver más...
		.row
			.col-md-offset-2.col-md-4.text-right
				.sub_section
					h2 DISEÑO DE INTERIORES
				.description
					p  Diseño de espacios, mobiliarios decorativo y/o funcional teniendo en cuenta  materiales, color, iluminación.
				button.btn 
					a(href="desing.html") ver más...
			.col-md-offset-1.col-md-3
				img(src="images/comercio-01.jpg")
		
section#blog.container-fluid
	.row
		+section-title("Blog")
	.container.blog-post.mg-3
		.row

			.col-md-offset-1.col-md-3
				img(src="images/blog_1.jpg")
			.col-md-3
				.title_post
					h2 TITULO DE LA ENTRADA
				.info_post
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae alias nam tempora, ex velit mollitia culpa earum delectus architecto...
				button(href="blog.html").btn leer más...
	.container.blog-post.mg-3
		.row

			.col-md-offset-2.col-md-3
				img(src="images/blog_2.jpg")
			.col-md-3
				.title_post
					h2 TITULO DE LA ENTRADA
				.info_post
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae alias nam tempora, ex velit mollitia culpa earum delectus architecto...
				button.btn leer más...
	.container.blog-post.mg-3
		.row
			.col-md-offset-3.col-md-3
				img(src="images/blog_3.jpg")
			.col-md-3
				.title_post
					h2 TITULO DE LA ENTRADA
				.info_post
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae alias nam tempora, ex velit mollitia culpa earum delectus architecto...
				button.btn leer más...
			
	button.btn ver más entradas

section#contacto.container-fluid
	.row
		+section-title("Contacto")
	.container-fluid.bckg-contact
		.row
			.col-md-offset-7.col-md-4
				.form.form-box
					.form-description
						p Escribemos para ponernos en contacto contigo, si representas a una empresa, incluye los datos de tu empresa y si eres una persona natural no olvides incluir tu correo electronico, estamos aqui para hacer realidad tus ideas.
					form
					+input("Nombre")
					+input("Correo")
					+input("Asunto")
					+textarea
					button.btn Send Message
