section#about.container-fluid
	.row
		+section-title("Nosotros")
	.row
		.col-md-offset-1.col-md-4
			.bkg-box
				.text-box
					.about
						h2 Creemos que todo es posible
					.about-description
						p Doble R Estudios nace para deleitar, soñar, imaginar y creer. Nuestro concepto es que todo es posible. Todo lo que quieras hacer lo podemos hacer y lo que hayas soñado lo podemos crear. Doble R estudios nace para demostrar que se puede estar a la vanguardia en la arquitectura con una ingeniería sostenible que la respalde.
		.col-md-6
			img(src="images/nosotros_1.jpg")
	.row
		.col-md-offset-1.col-md-6
			img(src="images/nosotros_2.jpg")
		.col-md-4
			.bkg-box
					.text-box
						.about
							h2 Somos un estudio diferente
						.about-description
							p  Buscamos encontrar una armonía entre el proceso de diseño conceptual, su  cuenta variable como el asoleamiento, el clima , tecnología contractiva, materialidad, mecánica de  suelos, sismos, abastecimiento de servicios básicos, sustentabilidad y contextos urbanos.
	.container
		span EL EQUIPO
		.row
			.col-md-offset-2.col-md-4
				.box
					.subtitle
						h3 ARQUITECTURA
					.content
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia nesciunt commodi, deserunt mollitia numquam ipsa maxime earum minus quo impedit velit aliquid exercitationem temporibus! Veritatis iusto ipsa eligendi, saepe totam.
			.col-md-4
				img(src="images/arquitectura-01.jpg")
		.row
			.col-md-offset-2.col-md-4
				img(src="images/ingenieria-01.jpg")
			.col-md-4
				.box
					.subtitle
						h3 INGENIERIA
					.content
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, nulla! Assumenda eum ab et animi mollitia cumque id quibusdam, corporis aspernatur expedita voluptas repellat dignissimos impedit quo neque accusantium, temporibus.
section#proyectos.container-fluid
	.row
		+section-title("Proyectos")
	.container
		.row
			.col-md-offset-2.col-md-4
				.sub_section
					h2 COMERCIO
				.description
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eveniet quisquam, nulla? Quis praesentium consectetur ipsa, dicta accusantium doloribus adipisci debitis, aliquam ipsum in tempore magni, nesciunt fugit! Modi, cupiditate.
				button.btn ver más...
			.col-md-offset-1.col-md-3
				img(src="images/comercio-01.jpg")
		.row
			.col-md-offset-2.col-md-3
				img(src="images/residencial-01.jpg")
			.col-md-offset-1.col-md-4
				.sub_section
					h2 RESIDENCIAL
				.description
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eveniet quisquam, nulla? Quis praesentium consectetur ipsa, dicta accusantium doloribus adipisci debitis, aliquam ipsum in tempore magni, nesciunt fugit! Modi, cupiditate.
				button.btn ver más...
section#blog.container-fluid
	.row
		+section-title("Blog")
	.container
		.row
			.col-md-offset-1.col-md-3
				img(src="images/blog_1.jpg")
			.col-md-3
				.title_post
					h2 TITULO DE LA ENTRADA
				.info_post
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae alias nam tempora, ex velit mollitia culpa earum delectus architecto...
				button.btn leer más...
		.row
			.col-md-offset-2.col-md-3
				img(src="images/blog_2.jpg")
			.col-md-3
				.title_post
					h2 TITULO DE LA ENTRADA
				.info_post
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae alias nam tempora, ex velit mollitia culpa earum delectus architecto...
				button.btn leer más...
		.row
			.col-md-offset-3.col-md-3
				img(src="images/blog_3.jpg")
			.col-md-3
				.title_post
					h2 TITULO DE LA ENTRADA
				.info_post
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae alias nam tempora, ex velit mollitia culpa earum delectus architecto...
				button.btn leer más...
		button.btn ver más entradas

section#contacto.container-fluid
	.row
		+section-title("Contacto")
	.container
		.col-md-offset-7.col-md-4
			.form.form-box
				.form-description
					p Escribemos para ponernos en contacto contigo, si representas a una empresa, incluye los datos de tu empresa y si eres una persona natural no olvides incluir tu correo electronico, estamos aqui para hacer realidad tus ideas.
				form
				+input("Nombre")
				+input("Correo")
				+input("Asunto")
				+textarea
				button.btn Send Message
