p{
	font-family: 'Questrial', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	font-weight: 700;

}
button{
	font-family: 'Questrial', sans-serif;
}
.home{
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: white;
}